
  <section class="hero is-success">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title is-size-5">
          Do not want to just look at other people's pictures?  <span class='has-text-grey'> create your portfolio now: </span>
        </h1>
        <div class="content">
          <%= link_to new_designer_path, class:"button is-dark "  do%>
            <span><%= t('nav.create_designer') %></span>
          <% end %>
        </div>
      </div>
    </div>
  </section>
