<section class="section shots-wrap" id="pagination-wrapper" >
  	<% unless @empty_record%>
  		<div class="columns  is-multiline " id="shots">
  			<%= render  @shots%>
  		</div>
  		<%= will_paginate  @shots %>
  	<% else %>
  		<%= render  'shared/empty_record'%>
  	<% end %>
</section>


