<section class="section ">
  <h5 class="title is-5 has-text-centered"><%= "#{pluralize(@designers.count, 'designer')} match your search: #{@skill.name}"%></h5>
  <%= render 'shared/designers'%>
</section>

