
<section class="section shots-wrap">
<h3 class="title is-5 has-text-centered"><%= "#{pluralize(@shots.count, 'Shot')} match your search: #{@tag.name}"%></h3>
<%= render 'shared/tags_cloud'%>
	<div class="columns  is-multiline " id="shots">
  		<%= render @shots%>
  </div>
</section>

	<%= will_paginate  @shots %>